@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
html,
body,
#intro
{
    height: 100%;
  font-family: 'Montserrat', sans-serif;
}



.navbar {
    background-color: white;
    color:504BA7;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: white;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
